[submodule "qpl"]
	path = qpl
	url = https://github.com/intel/qpl.git
[submodule "idxd-config"]
	path = idxd-config
	url = https://github.com/intel/idxd-config.git
[submodule "intel-onchip-accel-tutorial"]
	path = intel-onchip-accel-tutorial
	url = https://github.com/rkuper/intel-onchip-accel-tutorial.git
[submodule "cpu_decomp_perf/zlib"]
	path = cpu_decomp_perf/zlib
	url = https://github.com/madler/zlib.git
[submodule "cpu_decomp_perf/isa-l"]
	path = cpu_decomp_perf/isa-l
	url = https://github.com/intel/isa-l.git
[submodule "cpu_decomp_perf/zlib-dougallj"]
	path = cpu_decomp_perf/zlib-dougallj
	url = https://github.com/dougallj/zlib-dougallj.git
[submodule "cpu_decomp_perf/HyperCompressBench"]
	path = cpu_decomp_perf/HyperCompressBench
	url = git@github.com:neel-patel-1/HyperCompressBench.git
[submodule "cpu_decomp_perf/QAT20.L.1.0.50-00003"]
	path = cpu_decomp_perf/QAT20.L.1.0.50-00003
	url = git@github.com:neel-patel-1/QAT20.L.1.0.50-00003.git
