result_*
*.bak
*.txt
isal_*compress
results_*
.README.md.swp
.gdb_history
.harness-isal_zlib_decompress.cpp.swp
.run_calgary_isal.sh.swp
calgary
ipp-build.sh
ipp-zlib-build.sh
isal_zlib
isal_zlib_decompress-single-buffer
isal_zlib_throughput
pane.log
run_zlib_decompress.sh
zlib-level9.log
zlib_decompress

isa-l-unknown-level.log

.Makefile.swp
.run_random_isal.sh.swp
log

