result_*
*.bak
*.txt
isal_*compress
results_*
.README.md.swp
.gdb_history
.harness-isal_zlib_decompress.cpp.swp
.run_calgary_isal.sh.swp
calgary
ipp-build.sh
ipp-zlib-build.sh
isal_zlib
isal_zlib_decompress-single-buffer
isal_zlib_throughput
pane.log
run_zlib_decompress.sh
zlib-level9.log
zlib_decompress

isa-l-unknown-level.log

.Makefile.swp
.run_random_isal.sh.swp
log

.gen_ratio_4.sh.swp
.run_random_zlib.sh.swp
.timer.h.swp
decomp_output
diff.zlib
foo.bin
foo.bin.zst
isal_zlib_decompress_old
run_random_zlib.sh

.Makefile.swo
.README.md.swo
.pane.log.swp
.run_calgary_isal.sh.swo
calgary_copy
main-harness-isal_zlib_decompress.cpp
old

.harness-zlib_decompress.cpp.swp
.ratio_vs_latency.sh.swp
r_1
r_2
r_4
r_8
ratio1_
ratio1_4
ratio1_6
ratio1_7
ratio1_75
ratio1_775
ratio1_8
ratio2
ratio_3

